*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: "Work Sans",sans-serif;
    color: #222;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Assets/Background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.container{
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    width: 400px;
    flex-direction: column;
}
header{
    background-image: url(./Assets/Pattern.png);
    background-color: rgb(11, 127, 204);
    border-radius: 10px 10px 0 0;
    padding: 50px;
}
.align{
    text-align: center;
    padding:10px;
}
.inputs{
    display: flex;
}
input{
    flex: 2;
    padding: 12px;
    margin:0 10px;
    border-radius: 5px;
    outline: none;
    border: 0.5px solid rgb(214, 202, 202);
    background-color:#faefefe0;
}
button{
    flex: 1;
    color: #fff;
    background-color: rgb(11, 127, 204);
    border-radius: 5px;
    border: none;
    font-weight: 600;
}
p{
    color: rgb(80, 74, 74);
}
.para{
    padding:20px 20px;
}
.warning{
    margin: 5px 0 0 20px;
}
.Margin{
    margin:15px 10px;
}
.profile div{
    display: inline-block;
    text-align: justify;
    transform: translateY(-12%);
}
